* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    font-family: Arial, sans-serif;
}

h2 {
    margin-bottom: 5px;
}

.container {
    text-align: center;
}

canvas {
    background-color: #1e1e3e;
    /* background-image: url('twitter-header.png'); */
    background-color: #202020;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5); 
}


.score {
    color: white;
    margin-top: 10px;
    font-size: 20px;
}


.controls {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    margin-top: 10px;
    position: relative;
    top: 10px;
}

#up-btn {
    position: absolute;
    left: 50%;
    transform:translate(19px,6px);
    top: -60px;
}

#down-btn {
    position: absolute;
    left: 50%;
    transform: translate(10px,38px);
    /* transform:translateX(10px); */
    bottom: -60px;
}

#left-btn {
    position: absolute;
    left: -60px;
    top: 50%;
    /* transform: translateY(-100%); */
    transform:translateX(120%);
}

#right-btn {
    position: absolute;
    right: -60px;
    top: 50%;
    transform: translateX(50%);
}

#restart {
    margin-top: 10px;
}

button {
    padding: 10px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

button:hover {
    background-color: #777;
}


.game-over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3b3f2f;
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: opacity 0.5s ease;
}

.game-over.show {
    display: block;
    opacity: 1;
}




